*{
    margin:0;
    padding:0;
}

.dashboard-container{
    position: relative;
    left:22%; 
    top:10%;
    width:70%;
}
.dashboard-container h1{
    font-style: bolder;
    font-size:35px;
    font-weight:bold;
}
.dashboard-container-cards{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin-top:30px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card{
    width:250px;
    height:100px;
    background-color:white;
    border-radius: 15px;
    outline: none;
    border: none;
}
.card span{
    font-weight:bold;
    font-size:35px;
    position: relative;
   
    top:10%
}
.card p{
    position: relative;
    font-weight:15px;
    font-weight:lighter;
    margin-top:5px;
}
.reviews-users-reported-container{
    display: flex;
    flex-direction: row;
    margin-top:30px;
    justify-content: space-between;
}
.reported{
    width:500px;
    height:400px;
    border-radius: 15px;
    /* background-color:white; */
    padding:30px;
    padding-top:20px;
   
}
.reported-reviews-container{
    margin-top:20px;
    width:400px;
    height:90px;
    background-color:white;
    border-radius:20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding:10px
}
.content-container p{
    white-space: wrap; 
    width: 250px; 
    height:70px;
    overflow: hidden;
    text-overflow: ellipsis; 
}
.vl{
    border-left:1px solid coral;
    height:50px;
}
.analytics-container p{
    color:crimson;
}
.analytics-container p:nth-child(2){
    color:green;
}