*{
    padding: 0;
    margin:0;
}
.home-main-container {
    display: flex;
    flex-direction: row;
    justify-content:center;
    position: relative;
    left:25%; 
    height:100vh;
    width: 70%;
    padding:120px 20px 20px 20px;

}

.welcome-container{
    background-color: red;
    width:35%;
    margin:20px;
}
.mini-analytics-container{
    background-color:bisque;
    width:35%;
    margin:20px;
}
.targets-container{
    background-color:blueviolet;
    width:35%;
    margin:20px;
}