*{
    padding: 0;
    margin:0;
}
.home-main-container {
    display: flex;
    flex-direction: row;
    justify-content:center;
    position: relative;
    left:25%; 
    height:100vh;
    width: 70%;
    padding:100px 20px 20px 20px;

}

.welcome-container{
   
    width:35%;
    margin:20px;
}
.welcome-heading{
    padding:10px;
}
.welcome-heading h1{
    font-size:2.1em;
    margin-bottom:5px;
}
.welcome-heading h1:nth-child(1){
    font-weight: bold;
}
.welcome-message{
    padding:20px;
    padding-top:0px;
    padding-right:3px;
    padding-left:10px;
}
.welcome-message p{
    font-weight:lighter;
}
.mini-analytics-container{
    /* background-color:bisque; */
    width:37%;
    margin:20px;
}
.targets-container{
    background-color:blueviolet;
    width:35%;
    margin:20px;
}
.reactions-preview-container{
    padding:10px;
}

.like-container,.users-container,.review-container{
    height:70px;
    width:100%;
    padding:8px 20px;
    background-color: white;
    border-radius: 10px;
    margin-bottom:15px;
    display: flex;
    flex-direction: row;
    align-items:center;
}
.like-container span{
    font-size:15px;
}
.numeric-value-container span:nth-child(1){
    font-weight: bold;
}
.numeric-value-container span:nth-child(2){
    font-weight:lighter;
    

}
.numeric-value-container
{
    margin-left:20px;
}